
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
    
    
body {
background-color: black;
}
    
.logo {
    position: absolute;
    width: 100vh;
    height: 100px;
    top: 30%;
    right: 45%;
    transform: translate(-50%, -50%);
    margin-left: 30px;
    padding: 20px; 
    bottom: 15px;
    }
    
    .logo img {
    max-width: 11%; 
    height: auto; 
    display: block; 
    position: absolute;
    margin-bottom: 10%;
    margin-top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.Headerimage {
width: 100%;
display: block;
height: auto;
position: relative;
margin-top: 60px;
margin-left: 7px;

}
.floatleft {
width: 100%;
display: block;
height: auto;
margin-right: 10px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    text-align: center;
    padding-left: 50px;
    background-color: gold; 
    z-index: 1000;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 18px 20px;
    color: black;
    text-transform: capitalize;
    margin-right: 20px;
}

.navbar a:hover {
    color: yellow;
}
footer {
    background-color: black;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    }
    footer a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    }
    
    footer ul{
    list-style: none;
    }
    
    ul li a:hover{
    color: yellow;
    } 
    
    .Expressmusic {
    position: absolute;
    margin-right: 60%;
    margin-top: 40px;
    text-align: justify;
    color: white;
    width: 30%;
    padding: 20px;
    }
    .footer-column {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    }
    .disclaimer, .quick-links {
    margin-bottom: 20px;
    }
    
    .newsletter {
    margin-bottom: 20px;
    }
    
    .newsletter div {
    display: flex;
    justify-content: flex-end;
    }
    
input, button {
font-size: 1em;
margin: 10px;
padding: 10px;
width: 200px;
border-radius: 10px;
margin-bottom: 10px;
color: aquamarine;
}
    
button {
background-color: darkturquoise;
color: #ffffff;
border: none;
transition: all 0.6s ease-in-out;
}

.btn:hover{
    transform: translateY(-5px);
    background: transparent;
    color: yellow
}
    
.social-media-links {
display: flex;
flex-direction: row;
gap: 15px;
}
 
.fa-brands {
font-size: 24px;
margin-right: 10px;
}

.fa-facebook {
color: blue;
}
    
.fa-twitter {
color: blue; 
}
 
.fa-instagram {
color: red;  
}
.fa-linkedin {
color: blue; 
}
 
.fa-youtube {
color: red; 
}
    
    